.vagrant
.vagrant*
*.tfvars
.terraform
.terraform*
./key.*
terraform.tfstate
terraform.tfstate.backup
ansible_vars_file.yml
docker-compose.yml
policy_test.json
ec2_db_test.tf
terraform-dev/*
terraform-dev
